:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 20%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --font-weigth-regular: 500;
  --font-weight-bold: 700;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Fraunces", sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-primary);
  font-weight: var(--font-weigth-regular);
  color: var(--clr-neutral-400);
  font-size: 0.875rem;
  background-color: var(--clr-secondary-200);

  /* For this project */
  display: grid;
  place-content: center;
  margin: 1rem;
  /*$ If grid, place items dont work you can add min-height:100vh */
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* utilities */
.price {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.product {
  background-color: var(--clr-neutral-white);
  border-radius: 0.5rem;
  overflow: hidden;
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  display: grid;
  max-width: 600px;
}

@media (min-width: 600px) {
  .product {
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.product__details {
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-spacing);
}

.product__category {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.product__title {
  font-size: 2rem;
  font-family: var(--font-secondary);
  color: var(--clr-neutral-900);
  line-height: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.product__discount-price {
  font-size: 2rem;
  font-family: var(--font-secondary);
  color: var(--clr-primary-400);
}

button {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-white);
  border-radius: 0.5rem;
  padding: 0.625rem 1rem;
  /* font-weight: var(--font-weight-bold); */
  font-size: 0.95rem;
}

.button[data-icon="cart-icon"]:before {
  content: "";
  background-image: url("./images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

.button:is(:hover, :focus) {
  background-color: var(--clr-primary-500);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
